<<<<<<< HEAD
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>个人信息</h1>
      <h2>用户名</h2>
      <%= @user.name %>
      <h2>邮箱</h2>
      <%= @user.email %>
      <h2>密码</h2>
      <%= @user.password %>
      <h2>电话号码</h2>
      <%= @user.phonenumber %>
      <%= link_to 'Edit',edit_user_path(@user) %>
    </section>
  </aside>
=======
<div class="container text-center">    
  <div class="row">
    <div class="col-4 well">
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>你好，<%= @user.name %>!</strong></p>
        修改个人资料
      </div>
      <div class="well">
        <%= image_tag @user.avatar.url(:thumb) %>
      </div>
      <div class="well">
        <h1>个人信息</h1>
        <p><span class="label label-default">用户名:</span> <%= @user.name %> </p>
        <p><span class="label label-default">邮箱:</span> <%= @user.email %> </p>
        <p><span class="label label-default">电话号码:</span> <%= @user.phonenumber %> </p>
      </div>

      <%= link_to '修改个人信息',edit_user_path(@user) %>
    </div>
  </div>
>>>>>>> dddc3fdf6f57075dbd3d4b90ff75e953c108f355
</div>

