<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>个人信息</h1>
      <h2>用户名</h2>
      <%= @user.name %>
      <h2>邮箱</h2>
      <%= @user.email %>
      <h2>密码</h2>
      <%= @user.password %>
      <h2>电话号码</h2>
      <%= @user.phonenumber %>
      <%= link_to 'Edit',edit_user_path(@user) %>
    </section>
  </aside>
</div>