<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-heart"></i> 评分板块
  </div>
  <div class="panel-body">
    <h3>服务用户数:<%= @chat.users[0].chats.size %></h3>
    <div>
      <%= form_for (@new_evaluate) do |f| %>
        <%= f.lable :user_id %>
        <%= f.text_field :user_id %>
        <%= f.lable :score %>a
        <%= f.text_field :score %>
        <%= f.submit "评价", class: "btn btn-primary" %>
      <% end %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td width="40%"><span class="lable lable-default" >平均分数：</span></td>
          <td><%= @chat.name %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
