<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand', style: "color:white" do %>
          <i class="fa fa-leaf" aria-hidden="true"></i> RailsChat
      <% end %>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <% if current_user %>
          <%# 管理员显示项 %>
          <% if current_user.admin? %>
            <li><%= link_to "管理所有用户", users_path %></li>
          <% end %>
          <%# 普通用户显示项 %>
          <li>
            <%= link_to chats_path, class: "dropbtn" do %>
                聊天室<i class="fa fa-wechat"></i>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> 
              <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "个人资料", current_user %></li>
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  修改信息
                <% end%>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to sessions_logout_path, method: :delete do %>
                    <span class="glyphicon glyphicon-off">&nbsp;退出</span>
                <% end %>
              </li>
            </ul> 
          </li>
      <% else %>
          <%# 未登录用户显示项 %>
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "登陆", sessions_login_path %></li>
          <li><%= link_to "注册", signup_path %></li>
      <% end %>

    </ul>
  </div>
  </div>
</nav>




